.card {
  width: 250px;
  height: 450px;
  margin: 2px;
  box-shadow: 2px 2px 4px gray;
  border-radius: 3px;
}

.player-img {
  width: 250px;
}

.card-btn {
  margin: 3px;
  padding: 9px 15px;
  border: none;
  background-color: coral;
  color: white;
  border-radius: 3px;
}
